@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");
.wrapper {
  .hometopheadeing {
    padding-top: 149px;
    width: 870px;
    justify-content: center;
    margin: 0px auto;
    @media (max-width: 960px) {
      width: 100%;
    }
  }
  .hometopheadeing h1 {
    font-family: "Manrope";
    font-style: normal;
    font-weight: 800;
    font-size: 60px;
    line-height: 80px;
    text-align: center;
    letter-spacing: -0.03em;
    color: #ffffff;
    @media (max-width: 960px) {
      font-size: 45px;
      line-height: 56px;
    }
  }
  .hometopheadeing p {
    width: 668px;
    height: 60px;
    top: 341px;
    justify-content: center;
    margin: 0px auto;
    font-family: "Manrope";
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    letter-spacing: -0.02em;
    color: #ffffff;
    @media (max-width: 960px) {
      width: 100%;
    }
  }
  .homeTopbutton {
    padding-top: 58px;
    justify-content: center;
    margin: 0px auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    @media (max-width: 960px) {
      display: grid;
      grid-template-columns: 1fr;
    }

    button {
      background: #ff7f5c;
      border-radius: 47px;
      width: 162px;
      height: 60px;
      justify-content: space-between;
      margin: 0px 25px 0px auto;
      position: relative;
      border: none;
      font-family: "Manrope";
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 30px;
      text-align: center;
      letter-spacing: -0.02em;
      color: #ffffff;
      @media (max-width: 960px) {
        margin: 0px auto;
      }
    }
  }
  .howItWorks {
    display: flex;
    margin-left: 25px;
    @media (max-width: 960px) {
      margin: 30px auto 0px auto;
    }

    p {
      font-family: "Manrope";
      font-style: normal;
      font-weight: 500;
      font-size: 17px;
      line-height: 30px;
      letter-spacing: -0.02em;
      color: #ffffff;
      padding-left: 11px;
      vertical-align: middle;
      padding-top: 16px;
    }
  }
}
